
.footer {
background-color: rgb(16, 70, 151);
color: white;
}

.linkr {
    color: white
}

.navbar {
   background-color: rgb(247, 252, 238); 
   color: rgb(59, 102, 194);
}

.h61 {
color:rgb(0, 140, 255);
}

.h62 {
    color: blue;
}

.h63 {
    color: darkcyan;
}

.h64 {
    color: dodgerblue;
}

.aboutp {
    color: dodgerblue;
}